/* 
    Document   : estilo
    Created on : 21/10/2013, 09:06:48 PM
    Author     : cristhian
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-size: 12px;
}

h1 {
    font-size:  16px;
}

